* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px 20px 0px 0px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}

.encabezado {
    position: relative;
    background-image: url(../images/bg1.jpg);
    background: #000;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
}

.encabezado video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.encabezado h1 {
    background-color: #2e075a94;
    color: #ffffff;
    margin: auto;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    font-size: 64px;
    mix-blend-mode: multiply;
    border-radius: 20px 20px 0px 0px;
}

.caja__trasera {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(161, 0, 225, 0.192);
    border-radius: 0px 0px 8px 8px;
}

.caja__trasera div {
    margin: 100px 40px;
    color: #f2f2f2;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.caja__trasera div p {
    font-family: 'Amiko', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #f2f2f2;
    background: transparent;
    font-family: 'Amiko', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #f2f2f2;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover {
    background: #f2f2f2;
    color: #9b5ccf;
}

/*Formularios*/
.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*Post JS code*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: #f2f2f2;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #9b5ccf;
    font-family: 'Hind', sans-serif;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #cdc9d1;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #9b5ccf;
    font-weight: 600;
    color: #f2f2f2;
    cursor: pointer;
    outline: none;
}


/*Login*/

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

/*Responsive Desing*/

@media screen and (max-width: 850px) {

    main {
        margin-top: 50px;
    }

    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }

    /*Formularios Responsive*/

    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form {
        position: relative;
    }

}